html {
  box-sizing: border-box;
  background-color: rgb(228, 223, 217);
  font-family: mongoose, sans-serif;
  font-family: acumin-pro, sans-serif;
  line-height: 1.3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: -1rem;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -10em;
  z-index: 100000;
  border: 0;
  color: #fff;
  text-decoration: none;
}

.skip-links > li::before {
  content: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

header {
  margin: 1.5rem 1.5rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header nav {
  margin: 0;
}

h1 {
  color: rgb(1, 65, 94);
  font-size: 3rem;
  font-weight: normal;
  font-family: mongoose, sans-serif;
}

h2 {
  font-family: mongoose, sans-serif;
  font-weight: bold;
}

nav li {
  text-decoration: none;
  list-style-type: none;
}

.logo {
  display: block;
  position: relative;
  width: 100%;
}

main {
  background-color: rgb(30, 31, 37);
  color: rgb(228, 223, 217);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main h2,
main p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: normal;
}

main h2 {
  font-size: 2.5rem;
}

p {
  display: block;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, p, ul {
  margin: 0 0 1.3rem;
}

section h2 {
  font-size: 2rem;
  border-bottom: 4px solid;
}

.case-study {
  font-family: mongoose, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: none;
  margin-top: 3.5rem;
  margin-left: -12rem;
}

section {
  margin: 0 1rem 1.5rem;
  max-width: 30em;
}

section h2,
section p {
  padding-bottom: 1rem;
}

section img {
/* centerimage */
}

.project {
  font-family: mongoose, sans-serif;
  margin: 2rem;
  font-weight: normal;
  margin-bottom: -2rem;
  padding-bottom: 2rem;
  text-decoration: none;
}

footer {
  border-top: 5px solid rgb(1, 65, 94);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-card {
  background-color: rgb(30, 31, 37);
  width: 100vw;
  padding: 5rem;
  color: rgb(228, 223, 217);
}

.invitation-cards,
.random-cards {
  background-color: rgb(228, 223, 217);
  padding: 5rem;
  margin: 0;
  width: 100vw;
}

section h2,
section p,
section a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
