html {
  box-sizing: border-box;
  background-color: rgb(228, 223, 217);
  font-family: mongoose, sans-serif;
  font-family: acumin-pro, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

header {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: auto 20em auto;
  grid-template-rows: auto 1.5rem;
  align-items: center;
  justify-content: space-between;  */
}

header nav {
  margin: 0;
}

h1 {
  color: rgb(1, 65, 94);
  font-size: 3rem;
  font-weight: normal;
  font-family: mongoose, sans-serif;
}

h2 {
  font-family: mongoose, sans-serif;
  font-weight: bold;
}

nav li {
  text-decoration: none;
  list-style-type: none;
}

.logo {
  display: block;
  position: relative;
  width: 100%;
}

main {
  background-color: rgb(30, 31, 37);
  color: rgb(228, 223, 217);
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

main h2,
main p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: normal;
}

main h2 {
  font-size: 2.5rem;
}

p {
  display: block;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, p, ul {
  margin: 0 0 1.3rem;
}

section h2 {
  font-size: 2rem;
}

.case-study {
  font-family: mongoose, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

section {
  margin: 1rem;
}

.project {
  font-family: mongoose, sans-serif;
  margin: 2rem;
  font-weight: normal;
}
